In [2]:
import pandas as pd
import pickle

In [24]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [42]:
movies = pd.read_csv('movies.dat', header=None, sep='\s\s+', engine='python')
movies = movies[0].str.split("::", n = 2, expand = True)
movies.columns = ['MovieID','Title','Genres']
movies['Genres'] = movies['Genres'].str.split('|')
movies.head()
ratings = pd.read_csv('ratings.dat', header=None, sep='\s\s+', engine='python')
ratings = ratings[0].str.split("::", n = 4, expand = True)
ratings.columns = ['UserID','MovieID','Rating','Timestamp']
ratings.head()
users = pd.read_csv('users.dat', header=None, sep='\s\s+', engine='python')
users = users[0].str.split("::", n = 5, expand = True)
users.columns = ['UserID','Gender','Age','Occupation','Zip-code']
users.head()

  MovieID                               Title                        Genres
0       1                    Toy Story (1995)   Animation|Children's|Comedy
1       2                      Jumanji (1995)  Adventure|Children's|Fantasy
2       3             Grumpier Old Men (1995)                Comedy|Romance
3       4            Waiting to Exhale (1995)                  Comedy|Drama
4       5  Father of the Bride Part II (1995)                        Comedy

  UserID MovieID Rating  Timestamp
0      1    1193      5  978300760
1      1     661      3  978302109
2      1     914      3  978301968
3      1    3408      4  978300275
4      1    2355      5  978824291

  UserID Gender Age Occupation Zip-code
0      1      F   1         10    48067
1      2      M  56         16    70072
2      3      M  25         15    55117
3      4      M  45          7    02460
4      5      M  25         20    55455

In [44]:
movies['Genres'] = movies['Genres'].str.split('|')
movies.head()

,MovieID,Title,Genres
0,1,Toy Story (1995),"[Animation, Children's, Comedy]"
1,2,Jumanji (1995),"[Adventure, Children's, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama]"
4,5,Father of the Bride Part II (1995),[Comedy]